common --registry=https://raw.githubusercontent.com/aspect-build/bazel-central-registry/aspect_rules_py-v1.7.1
common --registry=https://bcr.bazel.build

# Temporary flag to unblock transitioning to bzlmod.
# We should remove this when we have a `cc_shared_library` version of `swss_common`.
#
# Note that this will not propagate to other builds, such as `sonic-buildimage`.
# This is fine, because this flag is exclusively for tests.
common --@sonic_swss_common//:alwayslink=False

# @grpc builds against an old version of @boringssl which
# both sets `-Wall` and `-Werror`, and emits warnings when built with a newer gcc.
# We suppress those warnings.
build --copt=-Wno-unused-parameter
build --copt=-Wno-cast-function-type

build:enable_gcov --@sonic_build_infra//:gcov=True
build:asan --@sonic_build_infra//:asan=True
build:tsan --@sonic_build_infra//:tsan=True
build:usan --@sonic_build_infra//:usan=True

build --define=portsyncd_tests_opts=false
build:portsyncd_tests_opts --define=portsyncd_tests_opts=true
build:portsyncd_tests_opts --linkopt='-Wl,-wrap,if_nameindex'
build:portsyncd_tests_opts --linkopt='-Wl,-wrap,if_freenameindex'
build --experimental_cc_shared_library
